{
  "presets": [
    "razzle/babel",
    "@babel/typescript",
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": ["@loadable/babel-plugin", "@emotion/babel-plugin"]
}
